.header {
  background-color: #f4f4f4;
  padding: 10px 10px 3px 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 15px;
  font-weight: bold;
  color: #b917f0;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
